# =========================
# JAVA / SPRING
# =========================
target/
*.log
*.class
*.jar
*.war

# =========================
# NODE / ANGULAR
# =========================
node_modules/
dist/
.angular/
coverage/

# =========================
# ENV / SECRETS
# =========================
.env
*.env
*.pem
*.key

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TERRAFORM
# =========================
.terraform/
*.tfstate
*.tfstate.backup

# =========================
# DOCKER
# =========================
docker-data/